# Pub folder content
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

# Var folder content
/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess

# Metadata
/.buildpath
/.cache
/.metadata
/.project
/.settings
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
.DS_Store

# Magento app fodler exclusion
/app/.htaccess
/app/bootstrap.php
/app/autoload.php
/app/functions.php
/app/config_sandbox
/app/code/Magento/TestModule*
/app/etc/config.php
/app/etc/env.php
/app/etc/di.xml
/app/etc/enterprise/di.xml
/app/etc/vendor_path.php
/app/etc/NonComposerComponentRegistration.php
!/app/etc/.gitkeep
/app/design/adminhtml/Magento/
/app/design/frontend/Magento/

# Files re-generated through composer
/CHANGELOG.md
/CONTRIBUTING.md
/COPYING.txt
/ISSUE_TEMPLATE.md
/LICENSE_AFL.txt
/LICENSE.txt
/Gruntfile.js.sample
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/vendor

#Tests Section
/bin/*
!bin/csfix.sh
!bin/static-tests.sh
!bin/unit-tests.sh
!/dev
/dev/*
!/dev/tests
/dev/tests/*
!/dev/tests/static
/dev/tests/static/*
!/dev/tests/static/.gitignore
!/dev/tests/static/phpunit.xml
!/dev/tests/static/framework
/dev/tests/static/framework/*
!/dev/tests/static/framework/vaimo_autoload.php
!/dev/tests/static/framework/vaimo_bootstrap.php
!/dev/tests/static/framework/Vaimo/
!/dev/tests/static/testsuite
/dev/tests/static/testsuite/*
!/dev/tests/static/testsuite/Vaimo/
#End Tests Section

/lib
/pub
/setup
/var

# Excludes (or a better alternative might be to symlink this to shared folders
!/pub/media/catalog
!/pub/media/downloadable
!/var/composer_home

# Excludes Vaimo specific files and folders
/.aja

# Excludes files which appear after Magento installation
/.github
/.htaccess
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
/LICENSE_EE.txt
/LICENSE_B2B.txt
/README_EE.md
/auth.json.sample
/generated
/grunt-config.json.sample
/index.php
/phpserver
/update
/Gruntfile.js
/package.json

# Project specific shared folders
/shared/*
!/shared/.do-not-remove-the-folder

