.author_container{
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}
.container__all{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.author_item{
  max-width: 700px;

}
a{
  width: 100%;
}
img{
  width: 300px;
  height: auto;
}