.author_container{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}

.container__all{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.author_item{
  max-width: 300px;

}

.author_name{
  padding: @gap;
  background-color: lightgrey;
  text-align: center;
}

#authors-header{
  margin: 20px auto;
  color: red;
  text-align: center;
}