.confirm{
  padding: 20px;
  text-align: center;
  border-bottom:1px #f5f5f5 solid;

  &__circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: #84eb94 3px solid;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line{
    width: 20px;
    height: 10px;
    border-left: 3px #84eb94 solid;
    border-bottom: 3px #84eb94 solid;
    transform: rotate(-45deg) translateX(5px) translateY(-2px);
  }

  &__header{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__desc{
    text-align: center;
  }

}

.cards{

  &-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item{
    box-shadow: 0 0 30px #f5f5f5;
    padding: 20px;
    flex-grow: 1;
    border-radius: 6px;
    max-width: 360px;
  }

  &__title{
    font-weight: bold;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    position: relative;
  }

  &__title--link{
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      border-right: 2px black solid;
      border-bottom: 2px black solid;
      transform: rotate(-45deg);
      right: 0;
      top: 0;
    }
  }

  &__desc{
    text-decoration: none;
    color: black;
  }
}

.cards__item--link{
  cursor: pointer;
  flex-direction: column;

  &:hover{
    background-color: bisque;
  }
}

@media screen and (max-width:768px){
  .cards {
    &-container {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }

    &__item{
      max-width: 100%;
    }
  }
  .confirm__header{
    font-size: 1em;
  }
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}